{% load static %}
<!DOCTYPE html>
<html>
<head>

	 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/
    font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'message/main.css' %}">

	<title>Msage</title>
</head>
<body>
<div class="">
  <header class="">
    <div>
      <a style="font-size: 30px;" href="{% url 'welcome' %}" class=""><i class="fa fa-th"></i></a>
      <h3 href="{% url 'welcome' %}" style="float: left" class="">Ace</h3>
      <nav class="">
        <a class="nav-link" aria-current="page" href="{% url 'welcome' %}">Home</a>
        <a class="nav-link" href="{% url 'feature' %}">Features</a>
        <a class="nav-link" href="{% url 'about' %}">Contact</a>
      </nav>
    </div>
  </header>
  <main role="main" class="px-3">
    <div class="row">
      <div class="col-md-8">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
        <br>
        {% block content %}{% endblock %}
        
      </div>
    </div>
  </main>

  <footer class="mt-auto text-white-50">
    <p style="margin-right: 5px" class="copyright">Ace © 2021</p>
  </footer>
</div>

</body>
</html>