body{
	background-color: #874FB7;
}

.content-section{
left: 24.93%;
right: 24.86%;
margin-top: 60px;
margin-bottom: 86px;
padding: 49px;
background-color: #FFFBFB;
box-shadow: 0px 4px 10px 10px rgba(0, 0, 0, 0.25);
border-radius: 8px;

}